<nav class="navbar navbar-full navbar-dark navbar-fixed-top bg-inverse">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <a class="navbar-brand" href="">Spoquery</a>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">

    <ul class="nav navbar-nav float-sm-right">
      <li class="nav-item">
        <a class="nav-link active">Acerca de nosotros <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="">Planes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active">Contacto</a>
      </li>
    </ul>
  </div>
</nav>


<footer id="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; Spoquery es un producto de la imaginación de Maximiliano Pozzi para su portfolio
          como diseñador web</p>
      </div>
      <div class="col-md-3">
        <h6>Spoquery</h6>
        <ul class="list-unstyled">
          <li><a>Acerca de nosotros</a></li>
          <li>Planes</li>
          <li>Contacto</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6>Nuestras redes sociales</h6>
        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com/games/get-spotify/?fbs=1101&fref=ts" class="link-unstyled">Facebook</a></li>
          <li><a href="https://twitter.com/Spotify" class="link-unstyled">Twitter</a></li>
          <li><a href="https://www.youtube.com/user/spotify" class="link-unstyled">Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
